{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
{% endblock %}
{% block title %} home {% endblock %}
{% block body %}
<div class="d-flex justify-content-center mt-5">
    <form action="/search" method="GET">
        <div class="m-3 mt-5 " style="width:200px;">
            <input name="search" class="text-success h3 bg-dark" type="text" >
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn m-3 btn-success dropdown-toggle ">
            </div>
        </div>

    </form>

</div>
{% endblock %}